@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  font-family: 'Poppins', sans-serif;
}

.page-wrapper{
  text-align: center;
  border: 1px solid red;
  width: 80vw;
  margin: 0 auto;
}