.header-wrapper{
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  width: 80vw;
}

.logo-airlines{
    font-size: 38px;
}

.nav-button{
    margin-left: auto;
}

button{
    margin: 10px;
}
