input{
  margin-top: 1rem;
  margin-right: 0.25rem;
}

.search-results-container{
  margin: 2rem auto;
  border: 1px solid hotpink;
}

th{
  border: 1px solid blue;
  width: 8rem;
}

.table-row:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}